@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1 class="display-4">Os Cavaleiros do Zodíaco</h1>
</div>
<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="./Img/Cavaleiros2.jpg" class="w-100" alt="">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Cadastre o seu Cavaleiro Favorito</h5>Os Cavaleiros do Zodíaco  conta a história de um grupo de cinco jovens guerreiros cuja função era proteger Saori Kido, reencarnação de Atena, a deusa grega da sabedoria. Para lutar, eles utilizam a energia interior e do cosmos, e suas armaduras que são inspiradas em constelações e na mitologia grega.</p>
        <a href="Person" class="stretched-link">Cadastrar</a>
    </div>
</div>

    